################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VideoStore
/obj
/VideoStore.v3.ncrunchsolution.user
/VideoStore.v3.ncrunchsolution
/_NCrunch_VideoStore
/bin/Debug/net6.0
